/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}
body {
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  color: #267481;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100vh;

}
.cd-section .textWrap{
  height: 100vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.cd-section h2 {
  text-align: center;
  font-size: 2.4rem;
}

.textWrap ul li{
  padding:15px 0;
  font-size:38px;
  font-weight: 500;
}
.textWrap ul li::before{
  content: "";
  border-left: 8px solid #fbc02d;
  margin-right: 15px;
}
.textWrap h1{
  font-size:38px;
  font-weight: 500;
  text-align: center;
  line-height:62px;
  padding:0 45px;
}
.border-right{
  border-left: 8px solid #fbc02d;
}
.cd-vertical-nav li{
  float: none !important;
}

.cd-section:first-of-type > div {
  background-color: #2b334f;
}
.cd-section:first-of-type > div::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;
}
.cd-section:nth-of-type(2) > div {
  background-color: #2e5367;
}
.cd-section:nth-of-type(3) > div {
  background-color: #267481;
}
.cd-section:nth-of-type(4) > div {
  background-color: #fcb052;
}
.cd-section:nth-of-type(5) > div {
  background-color: #f06a59;
}
[data-animation="rotate"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="rotate"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {
  background-image: url("../images/slider/1.jpg");
}
[data-animation="rotate"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url("../images/slider/2.png");
}
[data-animation="rotate"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("../images/slider/3.png");
}
[data-animation="rotate"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("../images/slider/4.png");
}
[data-animation="rotate"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("../img/img-5.jpg");
}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../images/slider/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}

.forMob{display: none;}
.forMob .textWrap{
   display: grid;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 100vh;
}

@media only screen and (max-width:767px){
  .navbar-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 999;
    background: #000;
}
nav .navbar-brand {
    width: 190px;
    height: auto;
}
  body{overflow: scroll;}
  .bannerScroll{display:none;}
  .forMob{display: block; }
  .slide{padding: 30px 0; padding:20px; position: relative; height: 100vh;}
  .slide:first-of-type{ background-image: url("../images/slider/1.jpg"); background-size:cover;}
  .slide:nth-of-type(2){background-image: url("../images/slider/2.png"); background-size:cover;}
  .slide:nth-of-type(3){background-image: url("../images/slider/3.png"); background-size:cover;}
  .slide:nth-of-type(4){background-image: url("../images/slider/4.png"); background-size:cover;}
  .slide:nth-of-type(5){background-image: url("../images/leftimg.jpg"); background-size:cover;}
  .slide:nth-of-type(6){background-image: url("../images/rightimg.jpg"); background-size:cover;}

  .textWrap ul li::before{display: none; }
  .textWrap ul li{font-size:20px; font-weight: 500; line-height: 28px;}
  .textWrap h1{font-size:24px; font-weight:500; text-align: center;}
  .border-right{border-left: 0;}
  
  .slide:nth-of-type(5)::before, .slide:nth-of-type(6)::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background: rgba(0,0,0,0.6);
  }
  .content-left{position: relative;z-index: 9; top:25%;}
  .content-left h1 {
    font-size:24px;
      font-weight:600;
      color: #FFF;
      text-transform: uppercase;
      margin-bottom: 30px;
  }
  .content-left p {
    font-size: 15px;
    color: #FFF;
    line-height: 24px;
    font-weight: 300;
  }
  .content-left a {
    display: block;
    border-radius: 50px;
    padding: 18px 25px;
    background: #0181ed;
    color: #FFF;
    font-size: 13px;
    margin-top: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease 0s;
    text-align: center;
  }
  .content-left{padding:30px 0; text-align: center;}
}



@-moz-document url-prefix(){
  
  .container2 .right {
    background: url(../images/rightimg.jpg) no-repeat;
    background-attachment: scroll;
    background-size: 100% !important;
    background-attachment: fixed;
    background-position: 100% 0;
    }
  .container2 .left {
    background: url(../images/leftimg.jpg) no-repeat;
    background-attachment: scroll;
    background-size: 100% !important;
    background-attachment: fixed;
    background-position: 0 0;
  }
}